<!DOCTYPE html SYSTEM "about:legacy-compat">
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navbar" th:remove="tag">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div>
                <th:block th:if="${#httpServletRequest.requestURI == '/shops'}">
                    <a class="navbar-brand" href="/">Strona główna</a>
                </th:block>
                <th:block th:if="${#strings.contains(#httpServletRequest.requestURI, '/shops/')}">
                    <a class="navbar-brand" href="/shops">Cofnij</a>
                </th:block>
                <th:block th:if="${#strings.contains(#httpServletRequest.requestURI, '/warehouse')}">
                    <a class="navbar-brand" href="/">Strona główna</a>
                </th:block>
                <th:block th:if="${#httpServletRequest.requestURI == '/'}">
                    <a class="navbar-brand" href="/">Strona główna</a>
                </th:block>
            </div>
            <div>
                <span class="navbar-text" th:text="${name + ' ' + surname}">A A</span>
                <span class="navbar-text pl-2">
                    <a th:href="@{/logout}">
                        <span class="material-symbols-sharp" style="font-size: 16px; color: black">logout</span>
                    </a>
                </span>
            </div>
        </div>
    </nav>
</div>
</html>