<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <title>Logowanie</title>
    <meta charset="utf-8">
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/signin.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method='POST' name='f' th:action="@{login}">
        <h1>Zaloguj</h1>
        <p>
            <label for="username" th:text="Login">last</label>
            <input class="form-control" id="username" name="username" placeholder="Login" required type="email"/>
        </p>
        <p>
            <label for="password" th:text="Hasło">last</label>
            <input class="form-control" id="password" name='password' placeholder="Hasło" required type="password"/>
        </p>
        <button class="btn btn-lg btn-primary btn-block" th:text="Zaloguj" type="submit">submit</button>
    </form>
    <div class="form-signin">
        <a class="btn btn-lg btn-secondary btn-block" th:href="@{/user/registration}"
           th:text="Zarejestruj">Zarejestruj</a>
    </div>
</div>
</body>
</html>