<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <title>Rejestracja</title>
    <meta charset="utf-8">
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/signin.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form action="/user/registration" class="form-signin" method="POST" th:object="${user}">
        <h2 class="form-signin-heading">Zarejestruj</h2>
        <p>
            <label for="name" th:text="Imię">first</label>
            <input class="form-control" id="name" name="name" required/>
        <p th:each="error: ${#fields.errors('name')}"
           th:text="${error}">Validation error</p>
        <p>
            <label for="surname" th:text="Nazwisko">last</label>
            <input class="form-control" id="surname" name="surname"/>
        <p th:each="error : ${#fields.errors('surname')}"
           th:text="${error}">Validation error</p>
        <p>
            <label for="email" th:text="Email">email</label>
            <input class="form-control" id="email" name="email" required type="email"/>
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
        <p>
            <label for="password" th:text="Hasło"> password</label>
            <input class="form-control" id="password" name="password" required type="password"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>

        <div th:if="${#fields.hasErrors('global')}">
            <h3>Global errors:</h3>
            <p class="error" th:each="err : ${#fields.errors('global')}" th:text="${err}">Error</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" th:text="Zarejestruj" type="submit">submit</button>
    </form>
    <div class="form-signin">
        <a class="btn btn-lg btn-secondary btn-block" th:href="@{/login}" th:text="Zaloguj">login</a>
    </div>
</div>
</body>
</html>