<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="'fields' :: navbar(isWorkStarted = ${isWorkStarted})"></div>
<div class="container">
    <h3>Obiekty</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Adres</th>
            <th scope="col">Akcja</th>
        </tr>
        </thead>
        <tbody th:if="${shops.size > 0}">
        <tr th:each="shop, stat : ${shops}">
            <td th:text="${stat.count}">1</td>
            <td th:text="${shop.name}">John</td>
            <td th:text="${shop.address.street + ' ' + shop.address.city + ' ' + shop.address.postalCode}">Doe</td>
            <td><a class="btn btn-outline-primary" th:href="${'/shops/' + shop.id}">Wejdź</a></td>
        </tr>
        </tbody>
        <tbody th:unless="${shops.size > 0}">
               <td>brak</td>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Miasto</th>
            <th scope="col">Ulica</th>
            <th scope="col">Kod pocztowy</th>
            <th scope="col">Akcja</th>
        </tr>
        </thead>
        <tbody>
        <form th:action="@{/shops}" th:object="${newShop}" method="post">
            <tr>
                <td><input aria-describedby="emailHelp" class="form-control" th:field="*{name}" type="text"></td>
                <td><input aria-describedby="emailHelp" class="form-control" th:field="*{address.city}" type="text"></td>
                <td><input aria-describedby="emailHelp" class="form-control" th:field="*{address.street}" type="text"></td>
                <td><input aria-describedby="emailHelp" class="form-control" th:field="*{address.postalCode}" type="text"></td>
                <td>
                    <button class="btn btn-outline-primary" type="submit">Dodaj</button>
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</div>

</body>
</html>