<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <title>Sklep</title>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link href=/css/bootstrap.min.css rel="stylesheet">
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- icons -->
    <link href="/css/icons/shop.css" rel="stylesheet"/>
    <link href="/css/icons/logout.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="'fields' :: navbar"></div>
<div class="container">

    <div class="mt-5 mb-5">

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6  col-md-4 col-lg-3">
                        <i class="material-symbols-sharp" style="font-size: 150px; color: #492753">store</i>
                    </div>
                    <div class="col-6">
                        <h1 class="card-title" th:text="${shop.name}">Sklepy</h1>
                        <p class="card-text" th:text="${shop.address.street}">Tutaj znajdziesz sklepy oraz punkty, które
                            serwisujesz. Przy
                            rozpoczęciu pracy wybierz odpowiedni sklep.</p>
                        <p class="card-text" th:text="${shop.address.city}">Tutaj znajdziesz sklepy oraz punkty, które
                            serwisujesz. Przy
                            rozpoczęciu pracy wybierz odpowiedni sklep.</p>
                        <p class="card-text" th:text="${shop.address.postalCode}">Tutaj znajdziesz sklepy oraz punkty,
                            które serwisujesz. Przy
                            rozpoczęciu pracy wybierz odpowiedni sklep.</p>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 d-none d-md-block">
                        <button class="btn btn-primary" data-target="#archiveCommentsModal" data-toggle="modal" th:data-row="${archiveComments}"
                                type="button">
                            Zobacz archiwum
                        </button>
                        <a class="btn btn-outline-primary mt-3" th:href="${'/shops/' + shop.id + '/exit'}">Zakończ pracę na
                            obiekcie</a>
                    </div>
                    <div class="row d-md-none">
                    <div class="col-12 mt-3 ml-3">
                        <button class="btn btn-primary" data-target="#archiveCommentsModal" data-toggle="modal"
                                th:data-row="${archiveComments}"
                                type="button">
                            Zobacz archiwum
                        </button>
                        <a class="btn btn-outline-primary" th:href="${'/shops/' + shop.id + '/exit'}">Zakończ pracę na
                            obiekcie</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="archiveCommentsModalLabel" class="modal fade" id="archiveCommentsModal"
         th:with="comments=${archiveComments}, shopId=${shop.id}"
         role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="archiveCommentsModalLabel">Zobacz archiwum</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pre-scrollable" id="modal-body" style="max-height: 500px">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Komentarz</th>
                            <th scope="col">Data</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="comment, stat : ${comments}">
                            <td th:text="${stat.count}">1</td>
                            <td th:text="${{comment.text}}">John</td>
                            <td th:text="${#temporals.format(comment.date, 'yyyy-MM-dd hh:mm')}">John</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" th:href="${'/shops/' + shopId + '/comments/pdf'}" target="_blank" type="button">Pobierz pdf</a>
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Zamknij
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-md-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                   href="#list-home" role="tab" aria-controls="home">Komentarze</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                   href="#list-messages" role="tab" aria-controls="messages">Magazyn</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                   href="#list-settings" role="tab" aria-controls="settings">Do dodania</a>
            </div>
        </div>
        <div class="col-12 col-md-8 pt-4 pt-md-0">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <section id="comment">
                        <form method="post" th:action="${'/shops/' + shop.id+ '/comments'}">
                            <div class="form-floating pb-2">
                                <textarea class="form-control" id="text" name="text" placeholder="Dodaj komentarz"
                                          required></textarea>
                            </div>
                            <button class="btn btn-outline-primary float-right" type="submit">Dodaj komentarz</button>
                        </form>

                        <h3>Komentarze:</h3>
                        <div class="text-center p-3" th:if="${shop.comments.size < 1}">
                            <h3>Brak komentarzy</h3>
                        </div>
                        <div class="pre-scrollable" style="max-height: 300px">
                            <table class="table" th:if="${shop.comments.size > 0}">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 10%">#</th>
                                    <th scope="col" style="width: 30%">Data</th>
                                    <th scope="col" style="width: 60%">Komentarz</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="comment, stat : ${shop.comments}">
                                    <td th:text="${stat.count}">1</td>
                                    <td th:text="${#temporals.format(comment.date, 'yyyy-MM-dd hh:mm')}">John</td>
                                    <td th:text="${comment.text}">John</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </section>
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <h3> Magazyn sklepu</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 10%">Id</th>
                            <th scope="col" style="width: 30%">Nazwa</th>
                            <th scope="col" style="width: 30%">Dostępne</th>
                            <th scope="col" style="width: 20%">Wybierz ilość</th>
                            <th scope="col" style="width: 10%">Akcja</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product,stat : ${shop.products}">
                            <td th:text="${stat.count}">1</td>
                            <td th:text="${product.name}">John</td>
                            <td th:text="${product.count}">John</td>
                            <td>
                                <select th:id="${'remove-select' + product.id}" class="form-control">
                                    <th:block th:each="i: ${#numbers.sequence(1, product.count)}">
                                        <option th:text="${i}"></option>
                                    </th:block>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-outline-primary"
                                        th:onclick="'remove('+|${product.id}, ${shop.id}|+')'">Usuń
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="text-center p-3" th:if="${shop.products.size < 1}">
                        <h3>Brak produktów</h3>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <h3>Do dodania:</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 10%">Id</th>
                            <th scope="col" style="width: 30%">Nazwa</th>
                            <th scope="col" style="width: 30%">Dostępne</th>
                            <th scope="col" style="width: 20%">Wybierz ilość</th>
                            <th scope="col" style="width: 10%">Akcja</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product, stat : ${availableProducts}" th:with="count = ${0}">
                            <td th:text="${stat.count}">1</td>
                            <td th:text="${product.name}">John</td>
                            <td th:text="${product.count}">John</td>
                            <td th:if="${product.count > 0}">
                                <select th:id="${'add-select' + product.id}" class="form-control">
                                    <th:block th:each="i: ${#numbers.sequence(1, product.count)}">
                                        <option th:text="${i}"></option>
                                    </th:block>
                                </select>
                            </td>
                            <td th:if="${product.count > 0}">
                                <button class="btn btn-outline-primary"
                                        th:onclick="'add('+|${product.id}, ${shop.id}|+')'">Dodaj
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center p-3" th:if="${availableProducts.size < 1}">
                        <h3>Brak produktów do dodania</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function remove(productId, shopId) {
        fetch('http://localhost:8080/shops/' + shopId + "/products/" + productId + "?count=" + $("#remove-select" + productId).val(), {
            method: 'DELETE'
        }).then(() => {
            window.location.reload();
        })
    }

    function add(productId, shopId) {
        fetch('http://localhost:8080/shops/' + shopId + "/products/" + productId + "?count=" + $("#add-select" + productId).val(), {
            method: 'PUT'
        }).then(() => {
            window.location.reload();
        })
    }

    $(document).ready(function () {
        $('a[data-toggle="list"]').on('show.bs.tab', function (e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            $('#list-tab a[href="' + activeTab + '"]').tab('show');
        }
    });
</script>
</html>