<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="'fields' :: navbar(isWorkStarted = ${isWorkStarted})"></div>
<div class="container">
    <h1>
        <span>Nazwa:</span>
        <span th:text="${shop.name}"></span>
    </h1>
    <h2>
        <span>Adres:</span>
        <span th:text="${shop.address.street + ' ' + shop.address.city + ' ' + shop.address.postalCode}"></span>
    </h2>
    <h3> Magazyn sklepu</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" style="width: 10%">#</th>
            <th scope="col" style="width: 40%">Nazwa</th>
            <th scope="col" style="width: 40%">Ilość</th>
            <th scope="col" style="width: 10%">Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product,stat : ${shop.products}">
            <td th:text="${stat.count}">1</td>
            <td th:text="${product.name}">John</td>
            <td th:text="${product.count}">John</td>
            <td>
                <button class="btn btn-outline-primary" th:onclick="'remove('+|${product.id}, ${shop.id}|+')'">Usuń
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="text-center p-3" th:if="${shop.products.size < 1}">
        <h3>Brak produktów</h3>
    </div>

    <h3>Do dodania:</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" style="width: 10%">#</th>
            <th scope="col" style="width: 40%">Nazwa</th>
            <th scope="col" style="width: 40%">Ilość</th>
            <th scope="col" style="width: 10%">Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, stat : ${availableProducts}">
            <td th:text="${stat.count}">1</td>
            <td th:text="${product.name}">John</td>
            <td th:text="${product.count}">John</td>
            <td th:if="${product.count > 0}">
                <button class="btn btn-outline-primary" th:onclick="'add('+|${product.id}, ${shop.id}|+')'">Dodaj
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-center p-3" th:if="${availableProducts.size < 1}">
        <h3>Brak produktów do dodania</h3>
    </div>
    <section id="comment">
        <form method="post" th:action="${'/shops/' + shop.id+ '/comments'}">
            <div class="form-floating pb-2">
                <textarea class="form-control" id="text" name="text" placeholder="Dodaj komentarz"></textarea>
            </div>
            <button class="btn btn-outline-primary float-right" type="submit">Dodaj komentarz</button>
        </form>

        <h3>Komentarze:</h3>
        <div class="text-center p-3" th:if="${shop.comments.size < 1}">
            <h3>Brak komentarzy</h3>
        </div>
        <table class="table" th:if="${shop.comments.size > 0}">
            <thead>
            <tr>
                <th scope="col" style="width: 10%">#</th>
                <th scope="col" style="width: 20%">Data</th>
                <th scope="col" style="width: 70%">Komentarz</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment, stat : ${shop.comments}">
                <td th:text="${stat.count}">1</td>
                <td th:text="${{comment.date}}">John</td>
                <td th:text="${comment.text}">John</td>
            </tr>
            </tbody>
        </table>
        <h3>Archiwum:</h3>
        <button class="btn btn-primary" data-target="#exampleModal" data-toggle="modal" id="button-hours"
                type="button" th:onclick="'openArchive('+|${shop.id}|+')'">
            Zobacz archiwum
        </button>
       <tr> <a class="btn btn-outline-primary" th:href="@{${shop.id} + '/exit'}">Zakończ pracę na obiekcie</a> </tr>
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal"
             role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Zobacz archiwum</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Zamknij</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script>
    function remove(productId, shopId) {
        fetch('http://localhost:8080/shops/' + shopId + "/products/" + productId, {
            method: 'DELETE'
        }).then(() => {
            window.location.reload();
        })
    }

    function add(productId, shopId) {
        fetch('http://localhost:8080/shops/' + shopId + "/products/" + productId, {
            method: 'PUT'
        }).then(() => {
            window.location.reload();
        })
    }

    function fillUserData(data) {
        var html = '<table class="table table-striped">';
        html += '<tr>';
        var flag = 0;
        $.each(data[0], function (index, value) {
            html += '<th>' + index + '</th>';
        });
        html += '</tr>';
        $.each(data, function (index, value) {
            html += '<tr>';
            $.each(value, function (index2, value2) {
                var notNullValue = value2 == null ? ' ' : value2
                html += '<td>' + notNullValue + '</td>';
            });
            html += '<tr>';
        });
        html += '</table>';
        $('#modal-body').html(html);
    }

    function openArchive(shopId) {
        fetch('http://localhost:8080/shops/' + shopId + "/comments")
            .then(response => response.json())
            .then(data => fillUserData(data));
    }

    /*$('#button-hours').click(function (shopId) {
        fetch('http://localhost:8080/shops/' + shopId + "/comments")
            .then(response => response.json())
            .then(data => fillUserData(data));
    });*/
</script>
</html>