<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <title>Magazyn</title>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link href=/css/bootstrap.min.css rel="stylesheet">
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- icons -->
    <link href="/css/icons/logout.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="'fields' :: navbar"></div>
<div class="container pt-5">
    <div class="alert alert-danger" role="alert" th:if="${error != null}">
        <span th:text="${error}">Produkt istnieje!</span>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Magazyn</h1>
            <p class="lead">W tym miejscu znajdują się Twoje urządzenia, którymi możesz zarządzać</p>
            <hr class="my-4">
            <button class="btn btn-primary" data-target="#addProductModal" data-toggle="modal" type="button">
                Dodaj nowy produkt
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Numer seryjny</th>
            <th scope="col">Dostępne</th>
            <th scope="col">Wybierz ilość</th>
            <th scope="col">Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, stat : ${products}">
            <td th:text="${stat.count}">1</td>
            <td th:text="${product.name}">John</td>
            <td th:text="${product.serialNumber}">1234</td>
            <td th:text="${product.count}">Doe</td>
            <td>
                <select class="form-control" th:id="${'remove-select' + product.id}">
                    <th:block th:each="i: ${#numbers.sequence(1, product.count)}">
                        <option th:text="${i}"></option>
                    </th:block>
                </select>
            </td>
            <td>
                <button class="btn btn-outline-primary" th:onclick="'remove('+|${product.id}|+')'">Usuń
                </button>

            </td>
        </tr>

        </tbody>
    </table>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="addProductModalLabel" class="modal fade" id="addProductModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" th:action="@{/warehouse/products}">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Dodaj nowy produkt</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nazwa Produktu</label>
                        <input class="form-control" id="name" name="name" placeholder="Nazwa produktu..." required
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="serialNumber">Numer seryjny</label>
                        <input class="form-control" id="serialNumber" maxlength="5" name="serialNumber"
                               placeholder="Numer seryjny produktu..."
                               required type="text">
                    </div>
                    <div class="form-group">
                        <label for="count">Ilość</label>
                        <input class="form-control" id="count" name="count" placeholder="100..." required type="number">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Zamknij</button>
                    <button class="btn btn-primary" type="submit">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
<script>
    function remove(productId) {
        fetch('http://localhost:8080/warehouse/products/' + productId + '?count=' + $("#remove-select" + productId).val(), {
            method: 'DELETE'
        }).then(() => {
            window.location.reload();
        })
    }
</script>
</html>